In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel("Resources/crowdfunding.xlsx")
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
list(crowdfunding_info_df)

['cf_id',
 'contact_id',
 'company_name',
 'blurb',
 'goal',
 'pledged',
 'outcome',
 'backers_count',
 'country',
 'currency',
 'launched_at',
 'deadline',
 'staff_pick',
 'spotlight',
 'category & sub-category']

In [5]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[['category', 'subcategory']] = \
crowdfunding_info_df['category & sub-category'].str.split('/', n=2, expand=True)
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [6]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df['category'].unique().tolist()
subcategories = crowdfunding_info_df['subcategory'].unique().tolist()

print(categories)
print(subcategories)

['food', 'music', 'technology', 'theater', 'film & video', 'publishing', 'games', 'photography', 'journalism']
['food trucks', 'rock', 'web', 'plays', 'documentary', 'electric music', 'drama', 'indie rock', 'wearables', 'nonfiction', 'animation', 'video games', 'shorts', 'fiction', 'photography books', 'radio & podcasts', 'metal', 'jazz', 'translations', 'television', 'mobile games', 'world music', 'science fiction', 'audio']

In [7]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

9
24

In [8]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [9]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "subcat" to each subcategory_id.    
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [10]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({'category_id': cat_ids, 'category': categories})

# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({'subcategory_id': scat_ids,
                                'subcategory': subcategories})

In [11]:
category_df

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video
5       cat06    publishing
6       cat07         games
7       cat08   photography
8       cat09    journalism

In [12]:
subcategory_df

   subcategory_id        subcategory
0          scat01        food trucks
1          scat02               rock
2          scat03                web
3          scat04              plays
4          scat05        documentary
5          scat06     electric music
6          scat07              drama
7          scat08         indie rock
8          scat09          wearables
9         scat010         nonfiction
10        scat011          animation
11        scat012        video games
12        scat013             shorts
13        scat014            fiction
14        scat015  photography books
15        scat016   radio & podcasts
16        scat017              metal
17        scat018               jazz
18        scat019       translations
19        scat020         television
20        scat021       mobile games
21        scat022        world music
22        scat023    science fiction
23        scat024              audio

In [13]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [14]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [15]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df = campaign_df.rename(columns = {"blurb": "description", "launched_at": "launched_date",
                                            "deadline": "end_date"})
campaign_df

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks,food,food trucks
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays,theater,plays
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays,theater,plays
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock,music,indie rock
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks,food,food trucks

In [16]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df[["goal", "pledged"]] = campaign_df[["goal","pledged"]].astype(float)

In [17]:
# Check the datatypes
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   description              1000 non-null   object
 4   goal                     1000 non-null   float64
 5   pledged                  1000 non-null   float64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_date            1000 non-null   int64
 11  end_date                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
 15  category                 1000 non-null   object
 16  subcategory              1000 non-null   object
dtypes: bool(2), float64(2), int64(5), object(8)
memory usage: 119.3+ KB

In [18]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
campaign_df["end_date"] = pd.to_datetime(campaign_df["end_date"], utc=True).dt.strftime("%Y-%m-%d")
campaign_df["launched_date"] = pd.to_datetime(campaign_df["launched_date"], utc=True).dt.strftime("%Y-%m-%d")
campaign_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   description              1000 non-null   object
 4   goal                     1000 non-null   float64
 5   pledged                  1000 non-null   float64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_date            1000 non-null   object
 11  end_date                 1000 non-null   object
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
 15  category                 1000 non-null   object
 16  subcategory              1000 non-null   object
dtypes: bool(2), float64(2), int64(3), object(10)
memory usage: 119.3+ KB

In [19]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = campaign_df.merge(category_df, on='category', how='left').merge(subcategory_df, on='subcategory', how='left')

campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,1561,5500,Ortiz-Roberts,Devolved foreground customer loyalty,7800.0,6839.0,failed,64,US,USD,1970-01-01,1970-01-01,False,True,film & video/drama,film & video,drama,cat05,scat07
991,2632,3494,Ramirez LLC,Reduced reciprocal focus group,9800.0,11091.0,successful,241,US,USD,1970-01-01,1970-01-01,False,True,music/rock,music,rock,cat02,scat02
992,439,3924,Morrow Inc,Networked global migration,3100.0,13223.0,successful,132,US,USD,1970-01-01,1970-01-01,False,True,film & video/drama,film & video,drama,cat05,scat07
993,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,1970-01-01,1970-01-01,False,True,photography/photography books,photography,photography books,cat08,scat015
994,1419,5262,"Leach, Rich and Price",Implemented bi-directional flexibility,141100.0,74073.0,failed,842,US,USD,1970-01-01,1970-01-01,False,True,publishing/translations,publishing,translations,cat06,scat019
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,1970-01-01,1970-01-01,False,True,food/food trucks,food,food trucks,cat01,scat01
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,1970-01-01,1970-01-01,False,False,theater/plays,theater,plays,cat04,scat04
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,1970-01-01,1970-01-01,False,False,theater/plays,theater,plays,cat04,scat04
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,1970-01-01,1970-01-01,False,True,music/indie rock,music,indie rock,cat02,scat08
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,1970-01-01,1970-01-01,False,False,food/food trucks,food,food trucks,cat01,scat01

In [20]:
# Drop unwanted columns
campaign_merged_df.drop(columns='category & sub-category')

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launched_date,end_date,staff_pick,spotlight,category,subcategory,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,1970-01-01,1970-01-01,False,False,food,food trucks,cat01,scat01
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,1970-01-01,1970-01-01,False,True,music,rock,cat02,scat02
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,1970-01-01,1970-01-01,False,False,technology,web,cat03,scat03
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,1970-01-01,1970-01-01,False,False,music,rock,cat02,scat02
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,1970-01-01,1970-01-01,False,False,theater,plays,cat04,scat04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,1970-01-01,1970-01-01,False,True,food,food trucks,cat01,scat01
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,1970-01-01,1970-01-01,False,False,theater,plays,cat04,scat04
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,1970-01-01,1970-01-01,False,False,theater,plays,cat04,scat04
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,1970-01-01,1970-01-01,False,True,music,indie rock,cat02,scat08
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,1970-01-01,1970-01-01,False,False,food,food trucks,cat01,scat01

In [21]:
# Export the DataFrame as a CSV file. 
campaign_merged_df.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [22]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [48]:
contact_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001 entries, 0 to 1000
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0           1001 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [59]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []

for i in range(1001):
        row_dict = {'contact_id': i, 'name': i**2, 'email': i**3}
        dict_values.append(row_dict)
# Print out the list of values for each row.
print(dict_values)

[{'contact_id': 0, 'name': 0, 'email': 0}, {'contact_id': 1, 'name': 1, 'email': 1}, {'contact_id': 2, 'name': 4, 'email': 8}, {'contact_id': 3, 'name': 9, 'email': 27}, {'contact_id': 4, 'name': 16, 'email': 64}, {'contact_id': 5, 'name': 25, 'email': 125}, {'contact_id': 6, 'name': 36, 'email': 216}, {'contact_id': 7, 'name': 49, 'email': 343}, {'contact_id': 8, 'name': 64, 'email': 512}, {'contact_id': 9, 'name': 81, 'email': 729}, {'contact_id': 10, 'name': 100, 'email': 1000}, {'contact_id': 11, 'name': 121, 'email': 1331}, {'contact_id': 12, 'name': 144, 'email': 1728}, {'contact_id': 13, 'name': 169, 'email': 2197}, {'contact_id': 14, 'name': 196, 'email': 2744}, {'contact_id': 15, 'name': 225, 'email': 3375}, {'contact_id': 16, 'name': 256, 'email': 4096}, {'contact_id': 17, 'name': 289, 'email': 4913}, {'contact_id': 18, 'name': 324, 'email': 5832}, {'contact_id': 19, 'name': 361, 'email': 6859}, {'contact_id': 20, 'name': 400, 'email': 8000}, {'contact_id': 21, 'name': 441, 'email': 9261}, {'contact_id': 22, 'name': 484, 'email': 10648}, {'contact_id': 23, 'name': 529, 'email': 12167}, {'contact_id': 24, 'name': 576, 'email': 13824}, {'contact_id': 25, 'name': 625, 'email': 15625}, {'contact_id': 26, 'name': 676, 'email': 17576}, {'contact_id': 27, 'name': 729, 'email': 19683}, {'contact_id': 28, 'name': 784, 'email': 21952}, {'contact_id': 29, 'name': 841, 'email': 24389}, {'contact_id': 30, 'name': 900, 'email': 27000}, {'contact_id': 31, 'name': 961, 'email': 29791}, {'contact_id': 32, 'name': 1024, 'email': 32768}, {'contact_id': 33, 'name': 1089, 'email': 35937}, {'contact_id': 34, 'name': 1156, 'email': 39304}, {'contact_id': 35, 'name': 1225, 'email': 42875}, {'contact_id': 36, 'name': 1296, 'email': 46656}, {'contact_id': 37, 'name': 1369, 'email': 50653}, {'contact_id': 38, 'name': 1444, 'email': 54872}, {'contact_id': 39, 'name': 1521, 'email': 59319}, {'contact_id': 40, 'name': 1600, 'email': 64000}, {'contact_id': 41, 'name': 1681, 'email': 68921}, {'contact_id': 42, 'name': 1764, 'email': 74088}, {'contact_id': 43, 'name': 1849, 'email': 79507}, {'contact_id': 44, 'name': 1936, 'email': 85184}, {'contact_id': 45, 'name': 2025, 'email': 91125}, {'contact_id': 46, 'name': 2116, 'email': 97336}, {'contact_id': 47, 'name': 2209, 'email': 103823}, {'contact_id': 48, 'name': 2304, 'email': 110592}, {'contact_id': 49, 'name': 2401, 'email': 117649}, {'contact_id': 50, 'name': 2500, 'email': 125000}, {'contact_id': 51, 'name': 2601, 'email': 132651}, {'contact_id': 52, 'name': 2704, 'email': 140608}, {'contact_id': 53, 'name': 2809, 'email': 148877}, {'contact_id': 54, 'name': 2916, 'email': 157464}, {'contact_id': 55, 'name': 3025, 'email': 166375}, {'contact_id': 56, 'name': 3136, 'email': 175616}, {'contact_id': 57, 'name': 3249, 'email': 185193}, {'contact_id': 58, 'name': 3364, 'email': 195112}, {'contact_id': 59, 'name': 3481, 'email': 205379}, {'contact_id': 60, 'name': 3600, 'email': 216000}, {'contact_id': 61, 'name': 3721, 'email': 226981}, {'contact_id': 62, 'name': 3844, 'email': 238328}, {'contact_id': 63, 'name': 3969, 'email': 250047}, {'contact_id': 64, 'name': 4096, 'email': 262144}, {'contact_id': 65, 'name': 4225, 'email': 274625}, {'contact_id': 66, 'name': 4356, 'email': 287496}, {'contact_id': 67, 'name': 4489, 'email': 300763}, {'contact_id': 68, 'name': 4624, 'email': 314432}, {'contact_id': 69, 'name': 4761, 'email': 328509}, {'contact_id': 70, 'name': 4900, 'email': 343000}, {'contact_id': 71, 'name': 5041, 'email': 357911}, {'contact_id': 72, 'name': 5184, 'email': 373248}, {'contact_id': 73, 'name': 5329, 'email': 389017}, {'contact_id': 74, 'name': 5476, 'email': 405224}, {'contact_id': 75, 'name': 5625, 'email': 421875}, {'contact_id': 76, 'name': 5776, 'email': 438976}, {'contact_id': 77, 'name': 5929, 'email': 456533}, {'contact_id': 78, 'name': 6084, 'email': 474552}, {'contact_id': 79, 'name': 6241, 'email': 493039}, {'contact_id': 80, 'name': 6400, 'email': 512000}, {'contact_id': 81, 'name': 6561, 'email': 531441}, {'contact_id': 82, 'name': 6724, 'email': 551368}, {'contact_id': 83, 'name': 6889, 'email': 571787}, {'contact_id': 84, 'name': 7056, 'email': 592704}, {'contact_id': 85, 'name': 7225, 'email': 614125}, {'contact_id': 86, 'name': 7396, 'email': 636056}, {'contact_id': 87, 'name': 7569, 'email': 658503}, {'contact_id': 88, 'name': 7744, 'email': 681472}, {'contact_id': 89, 'name': 7921, 'email': 704969}, {'contact_id': 90, 'name': 8100, 'email': 729000}, {'contact_id': 91, 'name': 8281, 'email': 753571}, {'contact_id': 92, 'name': 8464, 'email': 778688}, {'contact_id': 93, 'name': 8649, 'email': 804357}, {'contact_id': 94, 'name': 8836, 'email': 830584}, {'contact_id': 95, 'name': 9025, 'email': 857375}, {'contact_id': 96, 'name': 9216, 'email': 884736}, {'contact_id': 97, 'name': 9409, 'email': 912673}, {'contact_id': 98, 'name': 9604, 'email': 941192}, {'contact_id': 99, 'name': 9801, 'email': 970299}, {'contact_id': 100, 'name': 10000, 'email': 1000000}, {'contact_id': 101, 'name': 10201, 'email': 1030301}, {'contact_id': 102, 'name': 10404, 'email': 1061208}, {'contact_id': 103, 'name': 10609, 'email': 1092727}, {'contact_id': 104, 'name': 10816, 'email': 1124864}, {'contact_id': 105, 'name': 11025, 'email': 1157625}, {'contact_id': 106, 'name': 11236, 'email': 1191016}, {'contact_id': 107, 'name': 11449, 'email': 1225043}, {'contact_id': 108, 'name': 11664, 'email': 1259712}, {'contact_id': 109, 'name': 11881, 'email': 1295029}, {'contact_id': 110, 'name': 12100, 'email': 1331000}, {'contact_id': 111, 'name': 12321, 'email': 1367631}, {'contact_id': 112, 'name': 12544, 'email': 1404928}, {'contact_id': 113, 'name': 12769, 'email': 1442897}, {'contact_id': 114, 'name': 12996, 'email': 1481544}, {'contact_id': 115, 'name': 13225, 'email': 1520875}, {'contact_id': 116, 'name': 13456, 'email': 1560896}, {'contact_id': 117, 'name': 13689, 'email': 1601613}, {'contact_id': 118, 'name': 13924, 'email': 1643032}, {'contact_id': 119, 'name': 14161, 'email': 1685159}, {'contact_id': 120, 'name': 14400, 'email': 1728000}, {'contact_id': 121, 'name': 14641, 'email': 1771561}, {'contact_id': 122, 'name': 14884, 'email': 1815848}, {'contact_id': 123, 'name': 15129, 'email': 1860867}, {'contact_id': 124, 'name': 15376, 'email': 1906624}, {'contact_id': 125, 'name': 15625, 'email': 1953125}, {'contact_id': 126, 'name': 15876, 'email': 2000376}, {'contact_id': 127, 'name': 16129, 'email': 2048383}, {'contact_id': 128, 'name': 16384, 'email': 2097152}, {'contact_id': 129, 'name': 16641, 'email': 2146689}, {'contact_id': 130, 'name': 16900, 'email': 2197000}, {'contact_id': 131, 'name': 17161, 'email': 2248091}, {'contact_id': 132, 'name': 17424, 'email': 2299968}, {'contact_id': 133, 'name': 17689, 'email': 2352637}, {'contact_id': 134, 'name': 17956, 'email': 2406104}, {'contact_id': 135, 'name': 18225, 'email': 2460375}, {'contact_id': 136, 'name': 18496, 'email': 2515456}, {'contact_id': 137, 'name': 18769, 'email': 2571353}, {'contact_id': 138, 'name': 19044, 'email': 2628072}, {'contact_id': 139, 'name': 19321, 'email': 2685619}, {'contact_id': 140, 'name': 19600, 'email': 2744000}, {'contact_id': 141, 'name': 19881, 'email': 2803221}, {'contact_id': 142, 'name': 20164, 'email': 2863288}, {'contact_id': 143, 'name': 20449, 'email': 2924207}, {'contact_id': 144, 'name': 20736, 'email': 2985984}, {'contact_id': 145, 'name': 21025, 'email': 3048625}, {'contact_id': 146, 'name': 21316, 'email': 3112136}, {'contact_id': 147, 'name': 21609, 'email': 3176523}, {'contact_id': 148, 'name': 21904, 'email': 3241792}, {'contact_id': 149, 'name': 22201, 'email': 3307949}, {'contact_id': 150, 'name': 22500, 'email': 3375000}, {'contact_id': 151, 'name': 22801, 'email': 3442951}, {'contact_id': 152, 'name': 23104, 'email': 3511808}, {'contact_id': 153, 'name': 23409, 'email': 3581577}, {'contact_id': 154, 'name': 23716, 'email': 3652264}, {'contact_id': 155, 'name': 24025, 'email': 3723875}, {'contact_id': 156, 'name': 24336, 'email': 3796416}, {'contact_id': 157, 'name': 24649, 'email': 3869893}, {'contact_id': 158, 'name': 24964, 'email': 3944312}, {'contact_id': 159, 'name': 25281, 'email': 4019679}, {'contact_id': 160, 'name': 25600, 'email': 4096000}, {'contact_id': 161, 'name': 25921, 'email': 4173281}, {'contact_id': 162, 'name': 26244, 'email': 4251528}, {'contact_id': 163, 'name': 26569, 'email': 4330747}, {'contact_id': 164, 'name': 26896, 'email': 4410944}, {'contact_id': 165, 'name': 27225, 'email': 4492125}, {'contact_id': 166, 'name': 27556, 'email': 4574296}, {'contact_id': 167, 'name': 27889, 'email': 4657463}, {'contact_id': 168, 'name': 28224, 'email': 4741632}, {'contact_id': 169, 'name': 28561, 'email': 4826809}, {'contact_id': 170, 'name': 28900, 'email': 4913000}, {'contact_id': 171, 'name': 29241, 'email': 5000211}, {'contact_id': 172, 'name': 29584, 'email': 5088448}, {'contact_id': 173, 'name': 29929, 'email': 5177717}, {'contact_id': 174, 'name': 30276, 'email': 5268024}, {'contact_id': 175, 'name': 30625, 'email': 5359375}, {'contact_id': 176, 'name': 30976, 'email': 5451776}, {'contact_id': 177, 'name': 31329, 'email': 5545233}, {'contact_id': 178, 'name': 31684, 'email': 5639752}, {'contact_id': 179, 'name': 32041, 'email': 5735339}, {'contact_id': 180, 'name': 32400, 'email': 5832000}, {'contact_id': 181, 'name': 32761, 'email': 5929741}, {'contact_id': 182, 'name': 33124, 'email': 6028568}, {'contact_id': 183, 'name': 33489, 'email': 6128487}, {'contact_id': 184, 'name': 33856, 'email': 6229504}, {'contact_id': 185, 'name': 34225, 'email': 6331625}, {'contact_id': 186, 'name': 34596, 'email': 6434856}, {'contact_id': 187, 'name': 34969, 'email': 6539203}, {'contact_id': 188, 'name': 35344, 'email': 6644672}, {'contact_id': 189, 'name': 35721, 'email': 6751269}, {'contact_id': 190, 'name': 36100, 'email': 6859000}, {'contact_id': 191, 'name': 36481, 'email': 6967871}, {'contact_id': 192, 'name': 36864, 'email': 7077888}, {'contact_id': 193, 'name': 37249, 'email': 7189057}, {'contact_id': 194, 'name': 37636, 'email': 7301384}, {'contact_id': 195, 'name': 38025, 'email': 7414875}, {'contact_id': 196, 'name': 38416, 'email': 7529536}, {'contact_id': 197, 'name': 38809, 'email': 7645373}, {'contact_id': 198, 'name': 39204, 'email': 7762392}, {'contact_id': 199, 'name': 39601, 'email': 7880599}, {'contact_id': 200, 'name': 40000, 'email': 8000000}, {'contact_id': 201, 'name': 40401, 'email': 8120601}, {'contact_id': 202, 'name': 40804, 'email': 8242408}, {'contact_id': 203, 'name': 41209, 'email': 8365427}, {'contact_id': 204, 'name': 41616, 'email': 8489664}, {'contact_id': 205, 'name': 42025, 'email': 8615125}, {'contact_id': 206, 'name': 42436, 'email': 8741816}, {'contact_id': 207, 'name': 42849, 'email': 8869743}, {'contact_id': 208, 'name': 43264, 'email': 8998912}, {'contact_id': 209, 'name': 43681, 'email': 9129329}, {'contact_id': 210, 'name': 44100, 'email': 9261000}, {'contact_id': 211, 'name': 44521, 'email': 9393931}, {'contact_id': 212, 'name': 44944, 'email': 9528128}, {'contact_id': 213, 'name': 45369, 'email': 9663597}, {'contact_id': 214, 'name': 45796, 'email': 9800344}, {'contact_id': 215, 'name': 46225, 'email': 9938375}, {'contact_id': 216, 'name': 46656, 'email': 10077696}, {'contact_id': 217, 'name': 47089, 'email': 10218313}, {'contact_id': 218, 'name': 47524, 'email': 10360232}, {'contact_id': 219, 'name': 47961, 'email': 10503459}, {'contact_id': 220, 'name': 48400, 'email': 10648000}, {'contact_id': 221, 'name': 48841, 'email': 10793861}, {'contact_id': 222, 'name': 49284, 'email': 10941048}, {'contact_id': 223, 'name': 49729, 'email': 11089567}, {'contact_id': 224, 'name': 50176, 'email': 11239424}, {'contact_id': 225, 'name': 50625, 'email': 11390625}, {'contact_id': 226, 'name': 51076, 'email': 11543176}, {'contact_id': 227, 'name': 51529, 'email': 11697083}, {'contact_id': 228, 'name': 51984, 'email': 11852352}, {'contact_id': 229, 'name': 52441, 'email': 12008989}, {'contact_id': 230, 'name': 52900, 'email': 12167000}, {'contact_id': 231, 'name': 53361, 'email': 12326391}, {'contact_id': 232, 'name': 53824, 'email': 12487168}, {'contact_id': 233, 'name': 54289, 'email': 12649337}, {'contact_id': 234, 'name': 54756, 'email': 12812904}, {'contact_id': 235, 'name': 55225, 'email': 12977875}, {'contact_id': 236, 'name': 55696, 'email': 13144256}, {'contact_id': 237, 'name': 56169, 'email': 13312053}, {'contact_id': 238, 'name': 56644, 'email': 13481272}, {'contact_id': 239, 'name': 57121, 'email': 13651919}, {'contact_id': 240, 'name': 57600, 'email': 13824000}, {'contact_id': 241, 'name': 58081, 'email': 13997521}, {'contact_id': 242, 'name': 58564, 'email': 14172488}, {'contact_id': 243, 'name': 59049, 'email': 14348907}, {'contact_id': 244, 'name': 59536, 'email': 14526784}, {'contact_id': 245, 'name': 60025, 'email': 14706125}, {'contact_id': 246, 'name': 60516, 'email': 14886936}, {'contact_id': 247, 'name': 61009, 'email': 15069223}, {'contact_id': 248, 'name': 61504, 'email': 15252992}, {'contact_id': 249, 'name': 62001, 'email': 15438249}, {'contact_id': 250, 'name': 62500, 'email': 15625000}, {'contact_id': 251, 'name': 63001, 'email': 15813251}, {'contact_id': 252, 'name': 63504, 'email': 16003008}, {'contact_id': 253, 'name': 64009, 'email': 16194277}, {'contact_id': 254, 'name': 64516, 'email': 16387064}, {'contact_id': 255, 'name': 65025, 'email': 16581375}, {'contact_id': 256, 'name': 65536, 'email': 16777216}, {'contact_id': 257, 'name': 66049, 'email': 16974593}, {'contact_id': 258, 'name': 66564, 'email': 17173512}, {'contact_id': 259, 'name': 67081, 'email': 17373979}, {'contact_id': 260, 'name': 67600, 'email': 17576000}, {'contact_id': 261, 'name': 68121, 'email': 17779581}, {'contact_id': 262, 'name': 68644, 'email': 17984728}, {'contact_id': 263, 'name': 69169, 'email': 18191447}, {'contact_id': 264, 'name': 69696, 'email': 18399744}, {'contact_id': 265, 'name': 70225, 'email': 18609625}, {'contact_id': 266, 'name': 70756, 'email': 18821096}, {'contact_id': 267, 'name': 71289, 'email': 19034163}, {'contact_id': 268, 'name': 71824, 'email': 19248832}, {'contact_id': 269, 'name': 72361, 'email': 19465109}, {'contact_id': 270, 'name': 72900, 'email': 19683000}, {'contact_id': 271, 'name': 73441, 'email': 19902511}, {'contact_id': 272, 'name': 73984, 'email': 20123648}, {'contact_id': 273, 'name': 74529, 'email': 20346417}, {'contact_id': 274, 'name': 75076, 'email': 20570824}, {'contact_id': 275, 'name': 75625, 'email': 20796875}, {'contact_id': 276, 'name': 76176, 'email': 21024576}, {'contact_id': 277, 'name': 76729, 'email': 21253933}, {'contact_id': 278, 'name': 77284, 'email': 21484952}, {'contact_id': 279, 'name': 77841, 'email': 21717639}, {'contact_id': 280, 'name': 78400, 'email': 21952000}, {'contact_id': 281, 'name': 78961, 'email': 22188041}, {'contact_id': 282, 'name': 79524, 'email': 22425768}, {'contact_id': 283, 'name': 80089, 'email': 22665187}, {'contact_id': 284, 'name': 80656, 'email': 22906304}, {'contact_id': 285, 'name': 81225, 'email': 23149125}, {'contact_id': 286, 'name': 81796, 'email': 23393656}, {'contact_id': 287, 'name': 82369, 'email': 23639903}, {'contact_id': 288, 'name': 82944, 'email': 23887872}, {'contact_id': 289, 'name': 83521, 'email': 24137569}, {'contact_id': 290, 'name': 84100, 'email': 24389000}, {'contact_id': 291, 'name': 84681, 'email': 24642171}, {'contact_id': 292, 'name': 85264, 'email': 24897088}, {'contact_id': 293, 'name': 85849, 'email': 25153757}, {'contact_id': 294, 'name': 86436, 'email': 25412184}, {'contact_id': 295, 'name': 87025, 'email': 25672375}, {'contact_id': 296, 'name': 87616, 'email': 25934336}, {'contact_id': 297, 'name': 88209, 'email': 26198073}, {'contact_id': 298, 'name': 88804, 'email': 26463592}, {'contact_id': 299, 'name': 89401, 'email': 26730899}, {'contact_id': 300, 'name': 90000, 'email': 27000000}, {'contact_id': 301, 'name': 90601, 'email': 27270901}, {'contact_id': 302, 'name': 91204, 'email': 27543608}, {'contact_id': 303, 'name': 91809, 'email': 27818127}, {'contact_id': 304, 'name': 92416, 'email': 28094464}, {'contact_id': 305, 'name': 93025, 'email': 28372625}, {'contact_id': 306, 'name': 93636, 'email': 28652616}, {'contact_id': 307, 'name': 94249, 'email': 28934443}, {'contact_id': 308, 'name': 94864, 'email': 29218112}, {'contact_id': 309, 'name': 95481, 'email': 29503629}, {'contact_id': 310, 'name': 96100, 'email': 29791000}, {'contact_id': 311, 'name': 96721, 'email': 30080231}, {'contact_id': 312, 'name': 97344, 'email': 30371328}, {'contact_id': 313, 'name': 97969, 'email': 30664297}, {'contact_id': 314, 'name': 98596, 'email': 30959144}, {'contact_id': 315, 'name': 99225, 'email': 31255875}, {'contact_id': 316, 'name': 99856, 'email': 31554496}, {'contact_id': 317, 'name': 100489, 'email': 31855013}, {'contact_id': 318, 'name': 101124, 'email': 32157432}, {'contact_id': 319, 'name': 101761, 'email': 32461759}, {'contact_id': 320, 'name': 102400, 'email': 32768000}, {'contact_id': 321, 'name': 103041, 'email': 33076161}, {'contact_id': 322, 'name': 103684, 'email': 33386248}, {'contact_id': 323, 'name': 104329, 'email': 33698267}, {'contact_id': 324, 'name': 104976, 'email': 34012224}, {'contact_id': 325, 'name': 105625, 'email': 34328125}, {'contact_id': 326, 'name': 106276, 'email': 34645976}, {'contact_id': 327, 'name': 106929, 'email': 34965783}, {'contact_id': 328, 'name': 107584, 'email': 35287552}, {'contact_id': 329, 'name': 108241, 'email': 35611289}, {'contact_id': 330, 'name': 108900, 'email': 35937000}, {'contact_id': 331, 'name': 109561, 'email': 36264691}, {'contact_id': 332, 'name': 110224, 'email': 36594368}, {'contact_id': 333, 'name': 110889, 'email': 36926037}, {'contact_id': 334, 'name': 111556, 'email': 37259704}, {'contact_id': 335, 'name': 112225, 'email': 37595375}, {'contact_id': 336, 'name': 112896, 'email': 37933056}, {'contact_id': 337, 'name': 113569, 'email': 38272753}, {'contact_id': 338, 'name': 114244, 'email': 38614472}, {'contact_id': 339, 'name': 114921, 'email': 38958219}, {'contact_id': 340, 'name': 115600, 'email': 39304000}, {'contact_id': 341, 'name': 116281, 'email': 39651821}, {'contact_id': 342, 'name': 116964, 'email': 40001688}, {'contact_id': 343, 'name': 117649, 'email': 40353607}, {'contact_id': 344, 'name': 118336, 'email': 40707584}, {'contact_id': 345, 'name': 119025, 'email': 41063625}, {'contact_id': 346, 'name': 119716, 'email': 41421736}, {'contact_id': 347, 'name': 120409, 'email': 41781923}, {'contact_id': 348, 'name': 121104, 'email': 42144192}, {'contact_id': 349, 'name': 121801, 'email': 42508549}, {'contact_id': 350, 'name': 122500, 'email': 42875000}, {'contact_id': 351, 'name': 123201, 'email': 43243551}, {'contact_id': 352, 'name': 123904, 'email': 43614208}, {'contact_id': 353, 'name': 124609, 'email': 43986977}, {'contact_id': 354, 'name': 125316, 'email': 44361864}, {'contact_id': 355, 'name': 126025, 'email': 44738875}, {'contact_id': 356, 'name': 126736, 'email': 45118016}, {'contact_id': 357, 'name': 127449, 'email': 45499293}, {'contact_id': 358, 'name': 128164, 'email': 45882712}, {'contact_id': 359, 'name': 128881, 'email': 46268279}, {'contact_id': 360, 'name': 129600, 'email': 46656000}, {'contact_id': 361, 'name': 130321, 'email': 47045881}, {'contact_id': 362, 'name': 131044, 'email': 47437928}, {'contact_id': 363, 'name': 131769, 'email': 47832147}, {'contact_id': 364, 'name': 132496, 'email': 48228544}, {'contact_id': 365, 'name': 133225, 'email': 48627125}, {'contact_id': 366, 'name': 133956, 'email': 49027896}, {'contact_id': 367, 'name': 134689, 'email': 49430863}, {'contact_id': 368, 'name': 135424, 'email': 49836032}, {'contact_id': 369, 'name': 136161, 'email': 50243409}, {'contact_id': 370, 'name': 136900, 'email': 50653000}, {'contact_id': 371, 'name': 137641, 'email': 51064811}, {'contact_id': 372, 'name': 138384, 'email': 51478848}, {'contact_id': 373, 'name': 139129, 'email': 51895117}, {'contact_id': 374, 'name': 139

In [ ]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
contact_info_df =

In [ ]:
# Check the datatypes.
contact_info.info()

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contact_info_df = 

# Drop the contact_name column
contact_info_df = contact_info_df[["contact_id", "name", "email"]]

In [ ]:
# Reorder the columns
grocery_df_clean = grocery_df_clean[['upc12','category', 'name', 'cases_ordered', 'last_ordered']]
grocery_df_clean

In [ ]:
# Check the datatypes one more time before exporting as CSV file.
contact_info_df.info()

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [58]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [60]:
# Extract the four-digit contact ID number.
contact_info_df['contact_id'] = contact_info_df['contact_id'].str.extract(r'(\d{4})')

KeyError: 'contact_id'

In [ ]:
# Check the datatypes.

In [ ]:
# Convert the "contact_id" column to an int64 data type.

In [ ]:
# Extract the name of the contact and add it to a new column.

In [ ]:
# Extract the email from the contacts and add the values to a new column.

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 


# Drop the contact_name column

In [ ]:
# Reorder the columns

In [ ]:
# Check the datatypes one more time before exporting as CSV file.

In [ ]:
# Export the DataFrame as a CSV file. 
# contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)